* {
    margin: 0;
    padding: 0;
}

.board {
    height: 100vh;
    border-spacing: 0;
    border-collapse: collapse;
    display: flex;
    justify-content: center;
    align-items: center;
}
.board th {
    padding: .5em;
}
.board td {
    border: 1px solid black;
    width: 3em;
    height: 3em;
}

.boardsec {
    height: 100vh;
    border-spacing: 0;
    border-collapse: collapse;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boardsec th {
    padding: .5em;
}
.boardsec td {
    border: 1px solid black;
    width: 3em;
    height: 3em;
}

.state-hit {
    background-color: white;
}

.state-hit::after {
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    content: "✖";
    width: 3em;
    height: 3em;
}

.state-miss {
    background-color: white;
}

.state-miss::after {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    content: "✖";
    width: 3em;
    height: 3em;
}

.state-1 {
    background-color: black;
}

.state-4 {
    background-color: red;
}